:root{
    --princ-color: #f0eeee;
    --secun-color:#fff;
   --color-hover:#7ffa9e;
   --backgraund: #431558f8;
}

        /*Engloba todo o meu Header*/
#meu-cabecalho{
    background-image: linear-gradient(180deg, #431558f8,#431558f8),url(../img/backgraund/tendencias-em-tecnologia-para-2023-o-que-ja-vingou-o-que-ficou-pelo-caminho-e-novas-apostas.jpg);
    background-position: center;
    background-size: cover;
    color: var(--princ-color);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
    
            /*ESTLIZAÇÃO HEADER PARA DESKTOP*/
#menu-nav{
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    padding-right: 50px;
    background-color: var(--backgraund);
    font-family:var(--font-padrao);
    animation: opacy-header 1s 1 ease-in-out;
}

@keyframes opacy-header {
    0%{ 
        transform: translateY(-20px);
    }
    100%{
    }
}

#itens-menu{
    display: flex;
    gap: 20px;
    width: 89%;
    height: 80%;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    color: var(--princ-color);
}


#itens-menu li{
    list-style: none;
    font-size: 0.7rem;
    font-weight: 600;
    position: relative;
    transform: scale(0.9);
    transition: .2s;
    cursor: pointer;
    
}

#itens-menu li:hover::before{
    content: "";
    top: 15px;
    width: 100%;
    height: 1px;
    position: absolute;
    border-bottom: 20px;
    background-color: var(--color-hover);
    animation: before .4s 1 ease-in-out;
}
@keyframes before {
    0%{
        width: 0%;
    }
}

#itens-menu li:hover{
    color: var(--color-hover);
    transform: scale(1);
}

#menu-nav-mobile{
    display: none;
}

    /*ESTILIZAÇÃO MAIN DESKTOP*/

        /*Engloba todo o meu conteudo abaixo do menu*/
.continer-conteudos{
    
    color:var(--princ-color);
    width: 100%;
    min-height: 94vh;
    display: flex;
}

    /*Estlização lado esquerdo, onde contem redes e botão*/
.conteudoladoesquerdo{
    min-height: 100%;
    width:100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.conteudoladoesquerdo h1 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--font-padrao);
    padding-top: 10%;
    animation: contheader 1s 1 ease-in-out;
}
@keyframes contheader {
    0%{
        transform: translateY(-20px);
    }
    
}

.conteudoladoesquerdo span{
    font-size: 2.5rem;
    font-family: var(--font-padrao);
    font-weight: 600;
    animation: contheader 1s 1 ease-in-out;
}

.conteudoladoesquerdo h2{
    font-size: 1.1rem;
    font-family: var(--font-padrao);
    font-weight: 500;
    padding-top: 15px;
    color: var(--color-hover);
    animation: contheader 1s 1 ease-in-out;
}
                /*Abaixo do Ruan, contem logos de redes sociais*/
.contatosheadar{
    color: rgb(0, 118, 221);
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 3%;
}

.contatosheadar a{
    text-decoration: none;
    animation: contheader 1s 1 ease-in-out;
    position: relative;
}

.contatosheadar a i{
 color: var(--princ-color);
 font-size: 1rem;
 font-family: var(--font-padrao);
 font-style:normal;
 position: relative;
}


.contatosheadar a i:hover{
    color: var(--color-hover)
}

.contatosheadar a i span{
    color: var(--princ-color);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-padrao);
    font-style:normal;
    transform: scale(.9);
}
.contatosheadar a i span:hover{
    color: var(--color-hover);
    transform: scale(1);
}
.contatosheadar a i span:hover::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    top:100%;
    border-bottom: 1px solid var(--color-hover);
    animation: before .4s 1 ease-in-out;
}

         /*estilização do botão (mais sobre mim) no headar*/
.btnheadaer{
    width: 20%;
    height: 6%;
    font-family:var(--font-padrao);
    font-weight: 500;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid var(--princ-color);
    color: var(--secun-colore);
    cursor: pointer;
    margin-top: 4%;
    background-color: #7ffa9e;
    animation: contheader 1s 1 ease-in-out;
}
.btnheadaer:hover{
    background-color:#fff;
    border: 1px solid var(--backgraund);
    color: black;
}




        /*Engloba tudo do lado direito*/
.conteudoladodireiro{
    min-height: 100%;
    width: 0%;
    align-items: center;
    display: none;
}
        /*img destaque lado direito*/
.conteudoladodireiro img{
    width: 80%;
    animation: img-rigth 1s 1 ease-in-out;
}

@keyframes img-rigth {
    0%{
        translate: 100px;
    }
}






     /*ESTILIZAÇÃO HEADER PARA MOBILE*/

@media(max-width:450px){
    #menu-nav-mobile{
        display: block;
    }
    #menu-nav{
        display: none;
    }
    #menu-nav-mobile{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        background-color: floralwhite;
    }

    
    #itens-menu-mobile{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: greenyellow;
    }
    #itens-menu-mobile li{
        list-style: none;
        font-family:var(--font-padrao);
        font-size: 0.9rem;
        padding-top: 10px;
    }
    .continer-conteudos{
        background-color: red;
        display: flex;       
    }

    .conteudoladoesquerdo{
        width: 100%;
        background-color: blueviolet;
    }
    .conteudoladoesquerdo h1{
        font-size: 1rem;
    }
    .conteudoladoesquerdo span{
        font-size: 1rem;
    }
    .conteudoladoesquerdo h2{
        font-size: .8rem;
    }

    .contatosheadar a i{
        font-size: 65%;
    }
    .conteudoladodireiro{
        display: none;
    }
}



            /*Estlização do meu Main*/

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .h1-sobremim{
    width: 60%;
    height: 5%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 40px; 
    margin-bottom: 20px;
}

main .h1-sobremim h1{
    font-family: var(--font-padrao);
    font-size: 1.2rem;
    text-transform: uppercase;
}
main .h1-sobremim .funcao{
    font-family: var(--font-padrao);
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 10px;
}
main .containersobre{
    width: 87%;
    min-height: 30vh;   
    font-family: var(--font-padrao);
    display: flex;
  
}
main.conteiner .borda{
    border: 1px solid black;
}
.containersobre .textosmobre{
    width: 86%;
    min-height:100%;
    padding-left: 20px;
}

.containersobre .imgsobre{
    width: 150px;
    height: 150px;
    border-radius: 50%;                     
}

.containersobre .imgsobre img{
    width: 100%;
    border-radius: 50%;
}

.containersobre h1{
    font-size: 1.1rem;
    font-weight: 400;
    text-indent: 40px;
}

.containersobre p{
    font-size: 1.1rem;
    text-indent: 7px;
    text-decoration-line: 20px;
}


.containerhabilidades{
    height: 200px;
    width: 87%;
    display: flex;
    justify-content: center;
}
.containerhabilidades
.sobrecomplementares{
    width: 50%;
    height: 200px;
    display: flex;
    align-items: center;
}
.containerhabilidades
.sobrecomplementares 
.intersobrelis{
    list-style: none;
    font-family: var(--font-padrao);
    font-size: .9rem;
}
.containerhabilidades
.sobrecomplementares 
.intersobrelis li{
    padding-top: 10px;
    font-size: .8rem;;
}
.containerhabilidades
.sobrecomplementares 
.intersobrelis li > span{
    font-size: .8rem;
    color: firebrick;
    font-weight: 500;
}

.imglogos{
    width: 20%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;
}