*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bkg-desctop:#000000f3;
    --principal: #1166a5;
    --color-hover:#ea5851;
    --secundarias: #000000;
    --fonte-pp:"Poppins", sans-serif;
    --font-roboto:"Roboto", sans-serif;
    --fonte-montserrat:"Montserrat", sans-serif;

}
@media screen and (min-width:1024px){ 

/*Meu header contem meu menu e meis contudos da pagina*/
header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(90deg,#ecebebf6 ,#ecebebf6,#ecebebf6), url();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
}

/*Meu menu de navegação, contem os meus links*/
.menuvanegacao{
    width: 100%;
    min-width: 4vh;
    color: var(--principal);
    padding-top: 10px;
}
.menuvanegacao ul{
    padding-right: 25px;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.menuvanegacao ul li{
    list-style: none;
    font-family: var(--fonte-montserrat);
    font-weight: 600;
    font-size: .9vw;
    position:relative;
    transform: scale(0.9);
    transition: .5s;
}
.menuvanegacao ul li:hover{
    color: var(--color-hover);
    cursor: pointer;
    transform: scale(1);
}
.menuvanegacao ul li:hover::before{
    
    position:absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color-hover);
    top:100%; 
    animation: hoverlinks .6s 1 ease-in-out;
}
@keyframes hoverlinks {
    0%{
        width: 0%;
    }
}


/*seção que contem os meus dados abaixo do menu span, h1, links redes, e botão sobre*/

.secaoconteiner{
    width: 100%;
    min-height: 92vh;
    display: flex;
    align-items: center;
}


/*div conteudos do lado esquedo, h1, meu nome, links, botão sobre*/
.secaoconteiner .ladoesquerdo{
    width: 60%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secaoconteiner .ladoesquerdo span{
    font-size: 1.5vw;
    color: var(--secundarias);
    font-family: var(--fonte-montserrat);
}

.secaoconteiner .ladoesquerdo h1{
    font-size: 5vw;
    font-family: var(--fonte-montserrat);
    color: var(--principal);
    font-weight: 900;
}
.secaoconteiner .ladoesquerdo h2{
    font-size: 1vw;
    font-weight: 400;
    font-family: var(--fonte-montserrat);
    color: var(--secundarias);
    margin-bottom: 20px;
}

.meusbtns{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.meusbtns a {
    font-size: 1.5vw;
    color: var(--principal);
    padding: 10px;
}
.meusbtns a:hover {
    color: var(--color-hover);
}

.btnsobre{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 60px;
}
.btnsobre button{
    width: 50%;
    height: 50px;
    font-family: var(--fonte-montserrat);
    font-weight: 500;
    font-size: 1.1vw;
    color: var(--secundarias);
    background-color: transparent;
    border: 2px solid var(--principal);
    border-radius: 10px;
}
.btnsobre button:hover{
    color:white;
    cursor: pointer;
    background-color: #1166a5;
}




/*div lado direito, onde contem uma imagem animada*/
.ladodireito{
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: imgflutuante 1s infinite ease-in-out;
}
.ladodireito img{
    width: 70%;
    animation: imgflutuante 51s 1 ease-in-out alternate-reverse;
}


@keyframes imgflutuante {
    0%{
       transform: translateY(1px);
    }
    50%{
        transform: translateY(-1px);
    }
    100%{
        transform: translateY(1px);
    }
}
/*Estilização da conteiner main*/

.conteinermain{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    display: none;
}


/*estilização do meu footer*/
.conteinerfooter{
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}

.meiocontato{
    font-size: 1.3vw;
    font-family: var(--fonte-montserrat);
    color: var(--principal);
    font-weight: 700;
    margin-bottom: 20px;
}
.conteudos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contatosesquerda{
    list-style: none;
}
.contatosesquerda ul li{
    list-style: none;
    font-family: var(--fonte-pp);
    font-size: .9vw;
}
.contatosesquerda ul li span{
    font-size: 1.1vw;
    font-family: var(--fonte-montserrat);
    color: #ea5851;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.direito{
    font-family: var(--fonte-pp);
    font-size: .7vw;

}
.contatosdireito{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.contatosdireito a{
    color:var(--principal);
}


}
