*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-roboto:"Roboto", sans-serif;
    --font-poppins:"Poppins", sans-serif;
    --color-font:#061f35;
    --fonte-hoverbotão:#15202f;
    --color-hovemenu: #3c6487;
}
/*Estilização do menu de Navegação*/
body{
    background-image: linear-gradient(45deg, #ffffff00, #ffffff00), url(../img/4355775.jpg);
    background-size: cover;
}

/*Estilização do header (contem o menu de navegação)*/

header{
    width: 100%;
    height: 5vh;
    padding: 0px 30px 0px 30px;
}
nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    font-family: var(--font-poppins);
    color: var(--color-font);
}

nav .logo span{
    font-family: var(--font-poppins);
    font-weight: 700;
}


nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: .9vw;
    font-weight: 500;
}

nav ul li{
    font-weight: 500;
}
nav ul li:hover{
    color: var(--color-hovemenu);
    cursor: pointer;
    position:relative;
}
nav ul li:hover:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    top: 100%;
    background-color: var(--color-hovemenu);
    animation: hoveranimation 1s 1 ease-in-out;
}
@keyframes hoveranimation {
    0%{
        width: 0%;
    }
}


/*Engloba todo o meu conteudo abaixo do menu de navegação*/
.conteudo{
    min-height: 95vh;
    width: 100%;
    display: flex;
}


/*Fica a direita, cotem meus icones de redes sociais*/
.asides{
    min-height: 95vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.asides i{
    font-size: 1.4vw;
    color: var(--color-font);
}

.asides :hover{
    color: var(--color-hovemenu);
}

/*Conteudo central, fica nome, botão 'sobre mais'*/
.conteudocentral{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}
.conteudocentral
.meusconteudos{
    width: 100%;
    height: 50%;
    padding-left:10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.conteudocentral
.meusconteudos
.internomes{
 line-height: 45px;
}
.conteudocentral span{
    font-size: 2.5vw;
    font-family: var(--font-roboto);
    color: var(--color-font);
}

.conteudocentral
.meusconteudos
.internomes
h1{
    font-size: 6vw;    
    font-family: var(--font-roboto);
    font-weight: 900;
    color: var(--color-font);
}


.meusconteudos .buttonm{
    text-decoration: none;
    font-size: 1.4vw;
    font-family: var(--font-roboto);
    color: var(--color-font);
    font-weight: 500;
}

.conteudocentral button{
    background-color: floralwhite;
    border: 1px solid var(--color-font);
    margin-top: 70px;
    width: 200px;
    height: 40px;
}


.conteudocentral a button:hover{
    color: aliceblue;
}
.conteudocentral button:hover{
    background-color: var(--fonte-hoverbotão);
}



