*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media screen and (max-width:950px) {

    :root{
        --principal: #1933c7;
        --secundarias: rgb(0, 0, 0);
        --fonte-pp:"Poppins", sans-serif;
    }
    
    header{
        background-image: linear-gradient(45deg, #0c0c0cf6, #000000f1), url(../img/backgraund/tendencias-em-tecnologia-para-2023-o-que-ja-vingou-o-que-ficou-pelo-caminho-e-novas-apostas.jpg);
        background-size: cover;background-position: center center;
        width: 100%;
        min-height: 100vh;
    }
    
    /*Estilização do meu de link*/
    .menuvanegacao{
        width: 100%;   
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--principal);
    }

    .menuvanegacao ul{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 3vw;
    }

    .menuvanegacao ul li{
        list-style:none;
        font-weight: 500;
        font-family: var(--fonte-pp);
    }

    /*Estilização do meu container principal das seçõese*/
    .secaoconteiner{
        width: 100%;
        min-height: 94vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ladoesquerdo{
        width: 95%;
        height:200px;
        margin-top: 26%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .secaoconteiner .ladoesquerdo span{
        font-size: 3.5vw;
        font-family: var(--fonte-pp);
        color: var(--secundarias);
    }

    .secaoconteiner .ladoesquerdo h1{
        font-size: 9.6vw;
        padding-top: 0px;
        margin-bottom: 2%;
        font-family: var(--fonte-pp);
        color: var(--principal);
    }
    .secaoconteiner .ladoesquerdo h2{
        font-size: 2.6vw;
        font-weight: 400;
        font-family: var(--fonte-pp);
        margin-bottom: 7%;
        color: var(--secundarias);
    }
    .secaoconteiner .ladoesquerdo .meusbtns{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 15%;
    }

    .secaoconteiner .ladoesquerdo .meusbtns a i{
        font-size: 6vw;
        color: var(--secundarias);
    }

    .secaoconteiner .ladoesquerdo .btnsobre{
        width: 70%;
        height: 30px;
    }

    .secaoconteiner .ladoesquerdo .btnsobre button{
        font-family: var(--fonte-pp);
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 10px;
        font-size: 3.4vw;
        background-color: var(--principal);
    }
    .ladodireito{
        display: none;
    }

}
